# Xcode
## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode build files
DerivedData/
build/
